name: build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: yarn
          cache-dependency-path: ./yarn.lock
          node-version: 22.12.0

      - run: yarn install --frozen-lockfile
      - run: yarn run prettier --check .
